{{ range $host, $containersByHost := groupByMulti $ "Env.VIRTUAL_HOST" "," }}
{{ with $containers := whereExist $containersByHost "Env.VIRTUAL_LETSENCRYPT" }}
{{ if len $containers }}
{{ $host }}
{{ end }}
{{ end }}
{{ end }}