{
{{ range $host, $containersByHost := groupByMulti $ "Env.VIRTUAL_HOST" "," }}
{{ with $containers := whereExist $containersByHost "Env.VIRTUAL_LETSENCRYPT" }}
{{ if len $containers }}
  "{{ js $host }}": "/ssl/webroot/{{ js $host }}/",
{{ end }}
{{ end }}
{{ end }}
}
